@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300&&family=Poppins&family=Red+Rose&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lemonada", cursive;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../img/bg1.png);
}

main {
  flex: 1 0 auto;
}
.bgc-1 {
  /* background: #3e2723; */
  background-size: cover;
  background-image: url(../img/bg1.png);
}
.bgc-2 {
  background: #e2e2e2;
}

.img-des {
  border: 0.1px solid;
  border-radius: 20px;
}
